@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Regular.eot');
    src: local('Editorial New Regular'), local('EditorialNew-Regular'),
        url('EditorialNew-Regular.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Regular.woff2') format('woff2'),
        url('EditorialNew-Regular.woff') format('woff'),
        url('EditorialNew-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Light.eot');
    src: local('Editorial New Light'), local('EditorialNew-Light'),
        url('EditorialNew-Light.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Light.woff2') format('woff2'),
        url('EditorialNew-Light.woff') format('woff'),
        url('EditorialNew-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Ultrabold.eot');
    src: local('Editorial New Ultrabold'), local('EditorialNew-Ultrabold'),
        url('EditorialNew-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Ultrabold.woff2') format('woff2'),
        url('EditorialNew-Ultrabold.woff') format('woff'),
        url('EditorialNew-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Bold.eot');
    src: local('Editorial New Bold'), local('EditorialNew-Bold'),
        url('EditorialNew-Bold.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Bold.woff2') format('woff2'),
        url('EditorialNew-Bold.woff') format('woff'),
        url('EditorialNew-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Medium.eot');
    src: local('Editorial New Medium'), local('EditorialNew-Medium'),
        url('EditorialNew-Medium.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Medium.woff2') format('woff2'),
        url('EditorialNew-Medium.woff') format('woff'),
        url('EditorialNew-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Thin.eot');
    src: local('Editorial New Thin'), local('EditorialNew-Thin'),
        url('EditorialNew-Thin.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Thin.woff2') format('woff2'),
        url('EditorialNew-Thin.woff') format('woff'),
        url('EditorialNew-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Ultralight.eot');
    src: local('Editorial New Ultralight'), local('EditorialNew-Ultralight'),
        url('EditorialNew-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Ultralight.woff2') format('woff2'),
        url('EditorialNew-Ultralight.woff') format('woff'),
        url('EditorialNew-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial New';
    src: url('EditorialNew-Heavy.eot');
    src: local('Editorial New Heavy'), local('EditorialNew-Heavy'),
        url('EditorialNew-Heavy.eot?#iefix') format('embedded-opentype'),
        url('EditorialNew-Heavy.woff2') format('woff2'),
        url('EditorialNew-Heavy.woff') format('woff'),
        url('EditorialNew-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

